fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart
pandas
elasticsearch
elastic-transport
chromadb
sentence-transformers
torch
transformers
langchain
langchain-community
langchain-core
langchain-ollama
ollama
requests
hf-transfer